# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
numpy
pynput
pyyaml
scipy
sounddevice
pyyaml
tabulate
pandas
seaborn
librosa=0.9.1
torch
glob
soundfile